# Простые типы данных

In [5]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [12]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string_2)

str

In [13]:
my_bool = True
my_bool = False
type(my_bool)

bool

In [14]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [8]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ' + salary + 'условных единиц')

TypeError: can only concatenate str (not "int") to str

In [9]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [9]:
# неявное преобразование типов
print(1 + True)
print(20 / 5.1)

2
3.9215686274509807

## Строки

In [10]:
'Hi, ' + 'Oleg'

'Hi, Oleg'

In [15]:
my_string.upper()

'HELLO WORLD!'

In [16]:
my_string.lower()

'hello world!'

In [17]:
my_string.capitalize()

'Hello world!'

In [16]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World'

In [18]:
len(my_string)

12

## Индексация и срезы

In [19]:
my_string = 'Hello World'

In [20]:
my_string[1]

'e'

In [21]:
my_string[-6]

' '

In [22]:
my_string[0:5]

'Hello'

In [23]:
my_string = 'Hello World'
my_string[0:7:3]

'HlW'

In [24]:
my_string[6:]

'World'

In [24]:
my_string[:5]

'Hello'

## Упражнение
Выделите номер часа из даты следующего формата

In [26]:
date = '2019-08-27T23:59:00.932'
date[11 : 13]

'23'

## Проверка на вхождение элемента в объект

In [30]:
my_string = 'Hello World'
target_string = 'Worl'
if target_string in my_string:
    print('find!')

find!

## f-строки

In [44]:
name = 'oleg'
lang = 'python'
t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print(t)
print(type(t))

Hello, Oleg, i know python a bit
<class 'str'>

# Списки

In [32]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [124]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))
print (len (income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>
10

In [34]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4] [1])

Jan
Sep
13000

In [35]:
# срезы
print(income_by_months[0:2] [1] [1])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

14000
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [36]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0]

'Jan'

In [60]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [64]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [65]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [66]:
first, second, third = ['первый', 'второй', 'третий']
first

'первый'

In [41]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
other

['второй', 'третий']

In [38]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [44]:
other, last

(['второй', 'третий'], 'четвертый')

## Операции со списками

In [45]:
income_by_months

[['Jan', 13000],
 ['Feb', 14000],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [46]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13000],
 ['Feb', 14000],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [47]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [50]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13000],
 ['Feb', 14000],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000],
 ['Dec', 17000]]

In [49]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [51]:
# считаем количество вхождений элемента в список
income_list.count(13000)

2

In [54]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000, 0)

0

In [55]:
# разворачиваем список
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [81]:
# узнаем длину списка
len(income_list)

10

In [56]:
# сумма элементов
sum(income_list)

1239611

In [57]:
# максимальный элемент элементов
max(income_list)

1111111

In [58]:
# минимальный элемент элементов
min(income_list)

13000

In [85]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [86]:
# изменить порядок сортировки
sorted(income_list, reverse= True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [87]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [88]:
a = [1, 2, 3]
b = a

In [89]:
b.append(4)
'a = {}'.format(a)

'a = [1, 2, 3, 4]'

In [90]:
id(a), id(b)

(2765924215752, 2765924215752)

Используем модуль copy

In [ ]:
import copy

In [91]:
a = [1, 2, 3]
b = copy.copy(a)

NameError: name 'copy' is not defined

In [92]:
id(a), id(b)

(2765921857608, 2765924215752)

In [93]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4, 4]

## Списки и строки

In [98]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [99]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [59]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [60]:
# проверка вхождения элемента в список:

'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

# Tuple (кортежы)

In [63]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
type(list(salary_tuple))

list

In [64]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [66]:
# кортеж из одного элемента задается так:
t = ('one', )
print (t)

('one',)

In [67]:
# без запятой получится строка
type( ('one') )

str

In [69]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(list(salaries_by_names))

[('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800)]

# Циклы

## Цикл while

In [ ]:
x = 5
while x != 0:
#     x = x / 1
    x -= 1
    print(x)

In [ ]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

## Цикл for

In [72]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
#    print(letter)
     letter = letter.capitalize()
     print(letter)

O
R
A
N
G
E

In [75]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
#     print(company)
#    print(company[0], 'capitalization is', company[1])
#     print('end of iteration')

end of iteration
end of iteration
end of iteration
end of iteration

### Функции range и enumerate

In [76]:
range(10)
#type(range(10))

range(0, 10)

In [2]:
list(range(2, 10, 5))

[2, 7]

In [77]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [78]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [79]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

3
8
13
18

In [81]:
# enumerate позволяет получить индекс каждого элемента
enumerate([11, 24, 324, 44, 51])
list(enumerate([11, 24, 324, 44, 51]))

[(0, 11), (1, 24), (2, 324), (3, 44), (4, 51)]

In [3]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

## break, pass, continue

In [82]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [83]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [84]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
К
б
д
о
л
ж
н
о
х
в
а
т
и
т
ь
д
л
я
л
ю
б
ы
х
з
а
д
а
ч
.
Б
и
л
л
Г
е
й
т
с
(
п
о
л
е
г
е
н
д
е
)
finish loop

In [85]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
4
0
К
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч
.

Б
и
л
л

Г
е
й
т
с

(
п
о

л
е
г
е
н
д
е
)
finish loop

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

In [94]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [95]:
person = 5

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

In [120]:
for element in cook_book:
    print (element [0].capitalize(), ':', sep = '')
    for ingredient in element [1]:
        print (f'{ingredient [0]}, {ingredient [1] * person}{ingredient [2]}')

    print ()

Салат:
картофель, 500гр.
морковь, 250гр.
огурцы, 250гр.
горошек, 150гр.
майонез, 350мл.

Пицца:
сыр, 250гр.
томаты, 250гр.
тесто, 500гр.
бекон, 150гр.
колбаса, 150гр.
грибы, 100гр.

Фруктовый десерт:
хурма, 300гр.
киви, 300гр.
творог, 300гр.
сахар, 50гр.
мед, 250мл.

In [122]:
for dish, item in cook_book:
    print (dish)
    for size in item:
        print (size [0], size [1] * person, size [2])

салат
картофель 500 гр.
морковь 250 гр.
огурцы 250 гр.
горошек 150 гр.
майонез 350 мл.
пицца
сыр 250 гр.
томаты 250 гр.
тесто 500 гр.
бекон 150 гр.
колбаса 150 гр.
грибы 100 гр.
фруктовый десерт
хурма 300 гр.
киви 300 гр.
творог 300 гр.
сахар 50 гр.
мед 250 мл.

## List comprehension

In [125]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [126]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [127]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [128]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [129]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [130]:
# с list comprehension получается покороче

[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [132]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [133]:
for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [135]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Попрактикуемся

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [136]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [140]:
min (x for x in sys_stdin if x % 2 == 0)

16

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [141]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [142]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'R', 'Git', 'Java', 'SQL', 'SAS', 'Hadoop', 'Tableau', 'Scala', 'Python'}
{'R', 'Git', 'Java', 'SQL', 'SAS', 'Hadoop', 'Tableau', 'Scala', 'Python'}

In [143]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Git', 'Python', 'SQL'}
{'Git', 'Python', 'SQL'}

In [144]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Hadoop', 'Java', 'Scala'}
{'Hadoop', 'Java', 'Scala'}

In [145]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'R', 'Java', 'SAS', 'Hadoop', 'Tableau', 'Scala'}
{'R', 'Java', 'SAS', 'Hadoop', 'Tableau', 'Scala'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

In [151]:
my_set = set ([1, 1, 1])
print (my_set)
list (my_set)

{1}

[1]

# Словари

In [152]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [153]:
# обращение к элементу словаря
salaries['John']

1200

In [154]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [155]:
# добавляем элемент в словарь
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000}

In [156]:
salaries['James'] = 1300
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 1300}

In [160]:
# безопасно получаем значение по ключу
#salaries['Oleg']
#salaries.get('Oleg', 'Not Found')
salaries.get('Mary', 'Not Found')

2000

In [162]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 1300, 'Amanda': 2200}

In [163]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

#salaries.setdefault('Mary', 3000)
#salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200,
 'Mary': 2000,
 'Steven': 1000,
 'James': 1300,
 'Amanda': 2200,
 'Paul': 3000}

In [164]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [165]:
staff_dict['Robert']['salary']

800

In [166]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [174]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
#print(staff_dict.keys())
#print(staff_dict.values())
#print(staff_dict.items())

#print(list(staff_dict.keys()))
#print(list(staff_dict.values()))
print(list(staff_dict.items()))

[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [ ]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

In [175]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [176]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [177]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [178]:
for key, value in staff_dict.items():
    print(key, value)

Robert {'salary': 800, 'bonus': 200}
Jane {'salary': 200, 'bonus': 300}
Liza {'salary': 1300, 'bonus': 200}
Richard {'salary': 500, 'bonus': 1200}
Oleg {'salary': 1000000, 'bonus': 300}

In [179]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [189]:
# используем цикл
for person, info in staff_dict.items():
#     print(person, info)
#    print(person, "'s salary: ", info['salary'], sep='')
    print (f"{person}'s salary: {info['salary']}")

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [194]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

In [195]:
# функция zip
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [214]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [197]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [198]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [215]:
{metric: value for (metric, value) in results}

ValueError: too many values to unpack (expected 2)

## Попрактикуемся
Для каждого источника посчитайте ROI (revenue / cost - 1)

In [217]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [221]:
for j in results.values():
    j['ROY'] = j ['revenue'] / j ['cost'] * 100 - 100
results

{'vk': {'revenue': 103, 'cost': 98, 'ROY': 5.102040816326522},
 'yandex': {'revenue': 179, 'cost': 153, 'ROY': 16.993464052287592},
 'facebook': {'revenue': 103, 'cost': 110, 'ROY': -6.36363636363636},
 'adwords': {'revenue': 35, 'cost': 34, 'ROY': 2.941176470588232},
 'twitter': {'revenue': 11, 'cost': 24, 'ROY': -54.16666666666667}}

In [279]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

In [280]:
person = 5

In [283]:
shop_list = {}

for info in cook_book.values ():
    for ingridient in info: 
        new_shop_list_item = dict (ingridient)
        new_shop_list_item ['quantity'] *= person
        if new_shop_list_item ['ingridient_name'] not in shop_list:
            shop_list [new_shop_list_item ['ingridient_name']] = new_shop_list_item
        else:
            shop_list [new_shop_list_item ['ingridient_name']]['quantity'] += new_shop_list_item ['quantity'] 
#print (f"{ingridient ['ingridient_name']}: {ingridient ['quantity'] *  person} {ingridient ['measure']}")
shop_list

{'сыр': {'ingridient_name': 'сыр', 'quantity': 350, 'measure': 'гр'},
 'томаты': {'ingridient_name': 'томаты', 'quantity': 200, 'measure': 'гр'},
 'огурцы': {'ingridient_name': 'огурцы', 'quantity': 100, 'measure': 'гр'},
 'маслины': {'ingridient_name': 'маслины', 'quantity': 50, 'measure': 'гр'},
 'оливковое масло': {'ingridient_name': 'оливковое масло',
  'quantity': 100,
  'measure': 'мл'},
 'салат': {'ingridient_name': 'салат', 'quantity': 50, 'measure': 'гр'},
 'перец': {'ingridient_name': 'перец', 'quantity': 100, 'measure': 'гр'},
 'колбаса': {'ingridient_name': 'колбаса', 'quantity': 150, 'measure': 'гр'},
 'бекон': {'ingridient_name': 'бекон', 'quantity': 150, 'measure': 'гр'},
 'оливки': {'ingridient_name': 'оливки', 'quantity': 50, 'measure': 'гр'},
 'тесто': {'ingridient_name': 'тесто', 'quantity': 500, 'measure': 'гр'},
 'лимон': {'ingridient_name': 'лимон', 'quantity': 5, 'measure': 'шт'},
 'вода': {'ingridient_name': 'вода', 'quantity': 1000, 'measure': 'мл'},
 'сахар': {'ingridient_name': 'сахар', 'quantity': 50, 'measure': 'гр'},
 'лайм': {'ingridient_name': 'лайм', 'quantity': 100, 'measure': 'гр'}}

In [282]:
for shop_list_item in shop_list.values():
    print (f"{shop_list_item ['ingridient_name']}: {shop_list_item ['quantity']} {shop_list_item ['measure']}")

сыр: 350 гр
томаты: 200 гр
огурцы: 100 гр
маслины: 50 гр
оливковое масло: 100 мл
салат: 50 гр
перец: 100 гр
колбаса: 150 гр
бекон: 150 гр
оливки: 50 гр
тесто: 500 гр
лимон: 5 шт
вода: 1000 мл
сахар: 50 гр
лайм: 100 гр